body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./istock.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  background: rgba(255, 255, 255, 0.9);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}
.container h2 {
  color: #2c3e50;
  margin-bottom: 15px;
  font-size: 24px;
}
.form {
  margin-bottom: 15px;
  text-align: left;
}
label {
  font-weight: bold;
  color: #34495e;
}
input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  background: #ecf0f1;
}
button {
  width: 100%;
  padding: 12px;
  background: #27ae60;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background: #219150;
}
.error {
  color: red;
  font-size: 12px;
}
